$navBarBackGroundColor: black;
$linkANDtextColors: rgb(101, 101, 101);
$topNavbarColor: rgb(25, 25, 25);
$albumCardColor: rgb(37, 37, 37);
$onHoverAlbumColor: rgb(64, 64, 64);
$contentMainDivColor: rgb(33, 33, 33);

@mixin centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@mixin boxShadowCards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

@mixin test {
    display: inline-block;
    float: none;
}


// side-navbar................................................
div {
    display: inline-block;
}
div #sideNavBar {
    
    background-color: $navBarBackGroundColor;
    height: 90vh;
    width: 13vw;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: $navBarBackGroundColor;
        height: 100%;
    }
    li a {
        display: block;
        color: $linkANDtextColors;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #555;
        color: white;
    }
}
//support Nav spacing........................................
div .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
//support-navbar................................................
div #supportNavBar {
    padding-left: 0;
    padding-right: 0;
    
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $topNavbarColor;
    }
    li {
        float: right;
      }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #111;
    }
}
// content div................................................
#firstContentDiv {
    background-color: $contentMainDivColor;
}
div #content {
    background-color: $linkANDtextColors;
    height: 90vh;
    width: 87vw;
}
div #navImage {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: auto;
}

#catagoryNames {
    background-color: rgb(247, 245, 245);
}
//footer................................................

div #footerRow {
    background-image: linear-gradient(to right, rgb(185, 56, 205) ,rgb(84, 84, 237));
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;  
}

//content cards................................................

#musicCards {
    background: $albumCardColor;
    @include boxShadowCards();

    h5 {
        color: $linkANDtextColors;
        margin: 0;
    }    
    img {
        @include centerImg();
        @include boxShadowCards();
        border-radius: 10px;
    }
}

#musicCardsText {
    border: none;
    color: $linkANDtextColors;
    text-align: start;
    background-color: $albumCardColor;
}

#musicCards:hover {
    background-color: $onHoverAlbumColor;
}
#musicCards:hover #musicCardsText {
    background-color: $onHoverAlbumColor;
}


//mainRow...........................

#content-div-test {
    width: 100%;
    overflow-y: scroll;
}